@import "_variables";

body {
  background-color: lighten($primary-color, 25%);
  margin: auto;
  max-width: 600px;
  color: $text-color;
  font-size: $font-size;
  font-family: $font-family;
}

input,
textarea {
  font-family: $font-family;
  font-size: $font-size;
  border-radius: $border-radius;
  border: 2px solid $border-color;
}

a {
  border: 5px solid $border-color;

  &:hover {
    color: $hover-font;
  }
}

table {
  border: 5px solid $border-color;
  border-radius: $border-radius;
}

img {
  border-radius: $border-radius;
}
