body {
  background-color: #83adcf;
  margin: auto;
  max-width: 600px;
  color: #4c3957;
  font-size: 20px;
  font-family: Vildana, serif;
  border-radius: 15px; }
  body textarea {
    border-radius: 15px; }
  body img {
    border-radius: 15px; }
  body a {
    border: 5px solid #414073; }
  body table {
    border: 5px solid #414073;
    border-radius: 15px; }

input[type="text"] {
  border-radius: 15px; }

input[type="password"] {
  border-radius: 15px; }
